.main {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}
.dateForm {
  max-width: 300px;
  margin: 20px auto;
  padding-bottom: 10px;
}
.form {
  border: 1px dashed rgba(79, 111, 255, 0.267);
  min-width: 600px;
  max-width: 1000px;
  position: relative;
  left: -50%;
  margin-bottom: 10px;
  border-radius: 3px;
}
.table {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 250px;
  border: 1px solid #f0f0f0;
  padding: 5px;
  border-radius: 2px;
}
.compareTable {
  display: flex;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button {
  margin-right: 5px;
}
.site-calendar-demo-card {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin: 0 auto;
}
[data-theme="dark"] .site-calendar-demo-card {
  border: 1px solid #303030;
}
.selectedDate{
  margin-right: 50px;
}
.select{
  position: relative;
  right: 6%;
}
